<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noveogroup.task3" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RootActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SimpleActivity"
            android:label="@string/simple"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>

        <activity
            android:name=".UpActivity"
            android:label="@string/simple_up"
            android:parentActivityName=".RootActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RootActivity"
                />
        </activity>

        <activity
            android:name=".SplitActivity"
            android:label="@string/split"
            android:parentActivityName=".RootActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RootActivity"
                />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow"
                />
        </activity>

        <activity
            android:name=".TabsActivity"
            android:label="@string/tabs"
            android:parentActivityName=".RootActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RootActivity"
                />
        </activity>

        <activity
            android:name=".ListActivity"
            android:label="@string/list"
            android:parentActivityName=".RootActivity"
            android:theme="@style/ListActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RootActivity"
                />
        </activity>

        <activity
            android:name=".ViewActivity"
            android:label="@string/custom"
            android:parentActivityName=".RootActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RootActivity"
                />
        </activity>

        <activity
            android:name=".ThemedActivity"
            android:label="@string/themed"
            android:parentActivityName=".RootActivity"
            android:theme="@style/SimpleActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RootActivity"
                />
        </activity>

        <activity
            android:name=".ActionActivity"
            android:label="@string/action"
            android:parentActivityName=".RootActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RootActivity"
                />
        </activity>
    </application>



</manifest>
